body{

    font-family:"Sans-serif";
    margin:0 auto;
    width:1000px;
    color:white;
}

.heading-container {
    display: flex;
    gap: 286px;
    align-items: center;
    background-color:rgb(84, 36, 113);
    color: white;
    font-size: 20px;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px; 
    background-color:rgb(32, 201, 151);  
    color: #ffffff;  
    text-decoration: none;
    border: none;  
    border-radius: 5px;   
}

.background-gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.main{
    color:white;
    text-decoration: none; 
}

.flex-container {
    display: flex;
    background-color:rgb(141, 81, 133) ;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}

nav a:link,
nav a:visited,
.button {
    background-color: rgb(84, 36, 113);
    color: white;
    display: block;
    border-radius: 20px;
    text-align: center;
    padding: 12px 90px;
    text-decoration: none;
}
#kyc-button{
    background-color:rgb(32, 201, 151) ;
}
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.highlight {
    background-color: rgb(32, 201, 151);
}

.p1{
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(84, 36, 113);
    color:white;
    height: 50px;
    font-size: 22px;
    padding: 10px;
}
.pa1{
    width: 250px; 
    height: 40px; 
    padding: 6px;
}
.pb1{
    width: 400px; 
    height: 20px; 
    padding: 7px;
}
.purple{
    display: flex;
    background-color:rgb(84, 36, 113);
    color:white;
    height: 4vh;
    font-size: 22px;
}

.sub1{
    display: flex;
    background-color:rgb(84, 36, 113);
    color:white;
}
.gridA1 {
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
   gap: 5px; 
}

.grid-itemA1 {
    padding: 1rem; 
    border: none; 

}

.col1,.col2, .col3, .col4 > * {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid-itemA1 input{
    border: none;
    border-radius: 4px;
    height: 20px;
}

/* New.html */

.flex-item2{ 
    padding: 10px 10px;         
    border: none; 
    border-radius: 10px; 
    width: 180px;
    height: 40px;
}

#ind{
    background-color:rgb(32, 201, 151);
    color:white;
}

#ent{
    background-color:rgb(84, 36, 113);
    color:white;
}

#ind1{
    background-color:rgb(84, 36, 113);
    color:white;
}

#ent1{
    background-color:rgb(32, 201, 151);
    color:white;
}

.upload{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color:rgb(84, 36, 113);
    color:white;
    height: 80px;
    font-size: 22px;
    padding: 10px;
}

.grid {
    display: flex; 
  flex-direction: row; 
  justify-content: space-around;
}

.grid-item {
    flex: 1; 
  padding: 1rem; 
  border: none;
}

.rowB1,.rowB2, .rowB3, .rowB4 > * {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex2{
    display: flex;
    background-color:rgb(141, 81, 133);
    color:white;
    justify-content: space-evenly;
    align-items: center;
    height: 6vh;
}

.input{
    background-color:rgb(32, 201, 151); 
    padding: 10px 10px;         
    border: none; 
    border-radius: 10px;         

}

#submit{
    background-color:rgb(32, 201, 151);
    padding: 20px;
    border-radius: 10px;
    width: 120px;
    margin: 0, 0;
}

.mini{
    font-size: 17px;
}

/*non us consumer*/

.sub-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px; 
 }
 
 .sub-grid-item {
     padding: 1rem; 
     border: none; 
 }
 
 .colx,.coly, .colz, .cola > * {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .miniflex{
    display: flex;
    background-color:rgb(84, 36, 113);
    color:white;
    height: 40px;
    width: 300px;
    border-radius: 20px;
    align-content: center;
}

 #viewMoreBtn{
    background-color:rgb(84, 36, 113);
    border-radius: 10px;
    border-color: rgb(84, 36, 113);
    width: 120px;
    height: 22px;
    color: white;
 }

 /*spDD*/

 #spDDmain{
    background-color:rgb(32, 201, 151) ;
 }
 #addtype {
    width: 300px; 
    padding: 10px; 
}

#addtype option {
    font-size: 14px; 
    padding: 8px; 
}

.spdd-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    
}
.s {
    padding: 1rem; 
    border: none; 
}

.result1,.result2, .result3 > * {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.s input{
    width: 120px;
}

 /*EDD*/

 #EDDmain{
    background-color:rgb(32, 201, 151);
 }
